* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #f7f7f7;
    margin: 0;
}

.headerTop {
    background-color: #9c88ff;
    color: white;
    text-align: center;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
}
div {
    text-align: center;
}

.thirdHL {
    display: inline-block;
    margin:  35px 35px;
}

.button {
    background-color: #9c88ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#subscriptionMenu {
    padding: 50px;
}

#subscriptionDropdown{
    margin: 10px;
}

#addBTN {
    margin: 10px;
}

#content {
    text-align: center;
    padding: 20px;
}


